{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0
  }
}
